<div class="container">
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="card-columns">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title" style="font-size: 18px;">测试文章</h2>
                        <p class="card-text" style="font-size: 14px;">测试，如何</p>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="d-flex flex-column align-items-left">
                            <div>
                                <small>
                                    <i class="fas fa-folder-open"></i> <a href="#">Category 1</a>
                                </small>
                            </div>
                            <div>
                                <small>
                                    <i class="fas fa-user"></i> <a href="#">Author</a>
                                </small>
                            </div>
                            <div>
                                <small>
                                    <i class="fas fa-tags"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a>
                                </small>
                            </div>
                            <div>
                                <small>
                                    <i class="far fa-clock"></i> 2023-03-21 09:30:00
                                </small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title" style="font-size: 18px;">测试文章</h2>
                        <p class="card-text">This is a test article.</p>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4" id="sidebar">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Recent Posts</h2>
                    <ul class="list-unstyled">
                        <li><a href="#">Test Article</a></li>
                        <li><a href="#">Test Article</a></li>
                        <li><a href="#">Test Article</a></li>
                        <li><a href="#">Test Article</a></li>
                    </ul>
                </div>
            </div>


            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Tags</h5>
                    <div class="d-flex flex-wrap">
                        <a href="#" class="badge badge-primary mr-1 mb-1">Python</a>
                        <a href="#" class="badge badge-primary mr-1 mb-1">Django</a>
                        <a href="#" class="badge badge-primary mr-1 mb-1">Bootstrap</a>
                        <a href="#" class="badge badge-primary mr-1 mb-1">JavaScript</a>
                        <a href="#" class="badge badge-primary mr-1 mb-1">Web Development</a>
                        <a href="#" class="badge badge-primary mr-1 mb-1">Technology</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>