<!-- footer.html -->

<footer class="bg-light text-center py-3 mt-auto">
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <div class="my-2">
                <p class="m-0" style="line-height: 0.8; font-size: 12px;">
                    &copy; 2023 Shimon的博客 | SiteMap | RSS Feed | 友情链接 | 百度统计
                </p>
            </div>
            <div class="my-2">
                <p class="m-0" style="line-height: 0.8; font-size: 12px;">
                    Powered by Django | ChatGPT | 本页面加载耗时:0.052s
                </p>
            </div>
            <div class="my-2" style="line-height: 0.8; font-size: 12px;">
                <p class="m-0">
                    浙ICP备17047020号
                </p>
            </div>
        </div>
    </div>
</footer>
